.container {
  margin: 2rem auto;
  padding: 2rem;
  background: #bab2b6;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} 
.btn_add{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color: rgb(94, 94, 149);
    border-radius:5px;
    box-shadow: 0 0 0 2px #373539;
    transition: 0.7s;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

