body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

 .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px #000;
  background-color: #deffd5;
  color: rgb(255, 255, 255);
}
.nav_bar img {
  height: 50px;
}

.search input[type=text] {
  float: right;
  padding: 6px;
  border:#000000;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#addbutton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color:rgb(210, 252, 172);
    border-radius:5px;
    box-shadow: 0 0 0 2px #ffffff;
    transition: 0.7s;
}
#basketButton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color:rgb(138, 232, 197);
    border-radius:5px;
    box-shadow: 0 0 0 2px #ffffff;
    transition: 0.7s;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
/* .cards{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 3rem;
    flex-wrap: wrap;
} */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: auto;
  min-width: 30%;
   padding: 0.2rem;
}
.img{
    width: 40%;
    height: 40%;
}
.author{
    color: rgb(49, 63, 25);
}

.price{
    color: rgb(45, 54, 29);
}

.genre{
    color: rgb(47, 58, 26);
}

.description{
    color: rgb(44, 55, 27);
}

.btn_basket {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transform: scale(0.5);
  transition:all 0.5 ease;
}
.btn_basket img {
width: 40px;
height: 40px;
}

/* Darker background on mouse-over */
.btn_basket:hover {
  background-color: RoyalBlue;
   transform: scale(1);
}