body{
    margin: 0!important;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;
    margin-bottom: 10%;
}
.search input[type=text] {
  float: right;
  padding: 6px;
  border:#000;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#addbutton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 150px;
    margin: 10px;
    background-color: rgb(103, 226, 152);
    border-radius:5px;
    box-shadow: 0 0 0 2px #373539;
    transition: 0.7s;
}