<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/add.css">
    
    <title>Add Book</title>
</head>
<body>
    <div class="container">
    <h2 class="title_add">ADD BOOK</h2>

<form action="indexH.html" method="GET">
    <label for="title_book">Title:</label>
    <input type="text" id="title_book" name="title_book" required>
    
    <label for="img">Image URL:</label>
    <input type="url" id="img" name="img" required>
    
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required>
    
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">
    
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" >
    
    <input class="btn_add" type="submit" value="Add Book">
</form>
    </div>

</body>
</html>