<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/add.css">
    
    <title>Add Book</title>
</head>
<body>
    <div class="container">
    <h2 class="title_add">ADD BOOK</h2>

<form action="./indexH.html">
  <label for="title_book">Title:</label><br>
  <input type="text" id="title_book" name="title_book" value=""><br>
  <label for="img">Image:</label><br>
  <input type="text" id="img" name="img" value=""><br><br>
  <label for="author">Author:</label><br>
  <input type="text" id="author" name="author" value=""><br><br>
  <label for="price">Price:</label><br>
  <input type="text" id="price" name="price" value=""><br><br>
  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="genre" value=""><br><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" value=""><br><br>
  <input class="btn_add" type="submit" value="Add Book">
</form> 
    </div>
    <script src="../Script/add.js"></script>

</body>
</html>