<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../style/Basket.css">
</head>
<body>
    
</div>
<div class="cards">
    <!-- <div class="card">
        <img class="img" src="https://upload.wikimedia.org/wikipedia/en/5/59/Moonwalking_with_einstein.jpg" alt="">
        <h2>Moonwalking with Einstein</h2>
            <div class="content">
                <p class="price">Price: <span class="price">50DT</span></p>
            </div>
    </div> -->

</div>
 <div class="totals">
         <p class="totale">Total: <span class="total"></span></p>
         <button id="order" type="button">Order</button>
    </div>

    <script> src="../Script/index.js"</script>
    
   


</body>
</html>
