<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/ind.css">
    <title>Document</title>
</head>
<body>
    <div class="cards">
        <!-- <div class="card">
            <h2>Moonwalking with Einstein</h2>
            <img class="img" src="https://upload.wikimedia.org/wikipedia/en/5/59/Moonwalking_with_einstein.jpg" alt="">
            <div class="content">
                <p class="author">Author: <span class="author_b">Joshua Foer</span></p>
                <p class="price">Price: <span class="price_b">50DT</span></p>
                <p class="genre">Genre: <span class="genre_b">Nonfiction</span></p>
                <p class="descreption">descreption: <span class="descreption_b">The Art and Science of Remembering Everything</span></p>
            </div> 
        </div> -->
     

    </div>
 
</body>
</html>