<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://noorbooks.com.au/cdn/shop/files/IMG_4126_b3a7dd6e-13ee-4c2e-8ce1-cd4135b0c23c.png?v=1630618734" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../Style/indexS.css">

    <title>NOOR BOOK</title>
</head>
<body>
    <nav class="nav_bar">
            <img src="https://noorbooks.com.au/cdn/shop/files/IMG_4126_b3a7dd6e-13ee-4c2e-8ce1-cd4135b0c23c.png?v=1630618734" alt="logo">
        <div class="search">
            <input type="text" id="searchInput" placeholder="Search..">
        </div>
        <button id="addbutton" type="button">Add Book</button>
        <button id="basketButton" type="button">Basket</button>
    </nav>
     <div class="cards">
       <!-- <div class="card">
            <h2>Moonwalking with Einstein</h2>
            <img class="img" src="https://upload.wikimedia.org/wikipedia/en/5/59/Moonwalking_with_einstein.jpg" alt="">
            <div class="content">
                <p class="author">Author: <span class="author_b">Joshua Foer</span></p>
                <p class="price">Price: <span class="price_b">50DT</span></p>
                <p class="genre">Genre: <span class="genre_b">Nonfiction</span></p>
                <p class="descreption">descreption: <span class="descreption_b">The Art and Science of Remembering Everything</span></p>
                <button class="btn"><img src="../media/basket.png"></button>
            </div>  -->
        </div>
    </div>
    <script src="../script/index.js"></script>


</body>
</html>