<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/indexS.css">
    <title>NOOR BOOK</title>
</head>
<body>
    <nav class="nav_bar">
            <img src="https://noorbooks.com.au/cdn/shop/files/IMG_4126_b3a7dd6e-13ee-4c2e-8ce1-cd4135b0c23c.png?v=1630618734" alt="logo">
        <div class="search">
            <input type="text" placeholder="Search..">
        </div>
        <button class="add">Add Book</button>
    </nav>
    <script src="../Script/index.js"></script>
</body>
</html>